@using Dokana.Resources
@{
    ViewBag.Title = ResourceKeys.forgotPasswordConfirmation;
}
<div class="confirmation">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        
        <div class="alert alert-info">
            <p class="lead">
                @ResourceKeys.forgotPasswordMsg
            </p>
        </div>

    </div>
</div>
