@using Dokana.Resources
@{
    ViewBag.Title = ResourceKeys.resetPasswordConfirmation;
}

<div class="confirmation">
    <div class="container">
        <h2>@ViewBag.Title.</h2>

        <div class="alert alert-info">
            <p class="lead">
                @ResourceKeys.successResetPasswordMsg @Html.ActionLink(ResourceKeys.clickHereToLogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>

    </div>
</div>
