.checkout .siteForm input {
    height: auto;
    background-color: var(--whiteColor);
}

.checkout .method {
    margin-bottom: 15px;
    background-color: var(--bgColor);
    padding: 20px;
    border-radius: 8px;
}

.checkout .siteForm .visaCard,
.checkout .siteForm .paypal {
    width: 50%;
    margin: auto;
}

.checkout .siteForm .field-validation-error[data-valmsg-for="PaymentMethodId"] {
    padding: 6px;
    margin: 10px 0;
    display: inline-block;
    color: var(--color1);
}
