.orderInDetails .statistics {
    background-color: var(--whiteColor);
    padding: 10px;
    margin: 20px 0;
}
.orderInDetails .statistics .price {
    font-size: 14px;
}
.orderInDetails .details {
    background-color: var(--whiteColor);
    padding: 15px;
}
.orderInDetails .details .item {
    margin: 10px 0;
}
.orderInDetails .badge {
    border-radius: 0;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 7px 12px;
    font-weight: bold;
    cursor: pointer;
}
.orderInDetails .badge.active {
    background-color: green;
    cursor: auto;
}

#js_remove_order {
    margin-bottom: 15px;
}